<h2><%= @user.username.present? ? @user.username : @user.email %>'s profile</h2>

<div class="profile-heading">
  <div class="profile-avatar">
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar.representation(resize_to_fill: [180, 180]).processed.url %>
    <% end %>
  </div>

  <% if @user == current_user %>
    <%= link_to 'Edit Profile', edit_user_registration_path %>
  <% end %>

  <p><%= @user.username.present? ? @user.username : @user.email %></p>
</div>

<div class="profile-details">
  <p>Biography:</p> <p><%= @user.biography %></p>
  <p>Real Name:</p> <p><%= @user.real_name %></p>
  <p>Country:</p> <p><%= @user.country %></p>
  <p>State:</p> <p><%= @user.state %></p>
  <p>City:</p> <p><%= @user.city %></p>
</div>

<h2><%= @user.username.present? ? @user.username : @user.email %>'s posts</h2>
<%=  render partial: 'post', collection: @posts %>
