<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<% if current_user.avatar.attached? %>
  <%= image_tag current_user.avatar.representation(resize_to_fill: [180, 180]).processed.url %>
<% end %>
<p>Welcome to your profile, <%= current_user.username.present? ? current_user.username : current_user.email %></p>

<p>Biography:</p> <p><%= current_user.biography %></p>
<p>Real Name:</p> <p><%= current_user.real_name %></p>
<p>Country:</p> <p><%= current_user.country %></p>
<p>State:</p> <p><%= current_user.state %></p>
<p>City:</p> <p><%= current_user.city %></p>

<h2>Posts</h2>
<% current_user.posts.each do |post| %>
  <p>------------Post------------------<p>
  <p><%= post.content %></p>
  <p>Comments</p>
  <% post.comments.each do |comment| %>
    <p><%= comment.content %></p>
  <% end %>
  <p>----------------------------------<p>
<% end %>
