<h2>Your feed</h2>

<div class="new-post-container">
  <div class="current-user-avatar">
  <% if current_user.avatar.attached? %>
    <%= image_tag current_user.avatar.representation(resize_to_fill: [180, 180]).processed.url %>
  <% end %>
  </div>

  <%= form_with model: @post, class: 'new-post-form', data: { controller: "modal" } do |form| %>
    <%= form.text_area :content %>
    <dialog data-modal-target="modal">
      <%= form.url_field :image_url, data: { 'modal-target': 'uploadUrl' } %>
      <%= form.file_field :image, data: { 'modal-target': 'uploadFile' } %>
      <div class="new-post-attachment-options">
        <button type="button" data-action="click->modal#close">Save</button>
        <button type="button" data-action="click->modal#cancel">Cancel</button>
      </div>
    </dialog>
    <button type="button" data-action="click->modal#display">Attach Image</button>
    <%= form.submit %>
  <% end %>
</div>

<div class="feed-posts">
  <%= render partial: 'post', collection: @posts %>
</div>
