<nav>
  <% if user_signed_in? %>
    <div class="notifications-nav">
      <%= link_to 'Notifications', notifications_path %> <%= current_user.notifications.size %>
    </div>
    <div class="links-nav">
      <%= link_to 'HOME', posts_path %>
      <%= link_to 'USERS', users_path %>
      <%= link_to 'PROFILE', profile_path %>
      <%= link_to 'LOG OUT', destroy_user_session_path, 'data-turbo-method': :delete %>
    <% else %>
      <%= link_to 'LOG IN', new_user_session_path %>
      <%= link_to 'SIGN UP', new_user_registration_path %>
    <% end %>
    </div>
</nav>
