<div class="post" data-controller="comment" id="<%= dom_id(post) %>">
  <%= render 'post_heading', post: %>

  <%= render 'post_body', post: %>

  <%= turbo_frame_tag dom_id(post, 'liked_by_info') do %>
    <%= render 'post_liked_by', post: %>
  <% end %>

  <%= render 'post_interaction_buttons', post: %>

  <%= render 'post_comments_section', post: %>
</div>
