<div class="post" data-controller="comment">
  <%= render 'post_heading', post: %>

  <%= render 'post_body', post: %>

  <%= render 'post_liked_by', post: %>

  <%= render 'post_interaction_buttons', post: %>

  <%= render 'post_comments', post: %>
</div>
