<div class="comments-section">
  <%= form_with model: Comment.new, class: 'new-comment-form hidden', data: { 'comment-target': 'newCommentForm' }, namespace: post.id do |form| %>
    <%= hidden_field_tag 'comment[post_id]', post.id, id: "#{ post.id }_comment[post_id]" %>
    <%= form.text_area :content %>
    <%= form.submit %>
  <% end %>

  <div class="post-comments hidden" data-comment-target="comments">
    <% post.comments.each do |comment| %>
      <div class="comment">
        <div class="comment-avatar">
          <% if comment.user.avatar.attached? %>
            <%= image_tag comment.user.avatar.representation(resize_to_fill: [180, 180]).processed.url %>
          <% end %>
        </div>
        <p class="comment-name"><%= comment.user.email %></p>
        <p class="comment-content"><%= comment.content %></p>
      </div>
    <% end %>
  </div>
</div>
